.enhancer_menu {
	position: absolute;
	background: white;
	display: none;
	z-index: 111;
	color: #4B5C66;
	font-size: 12px;
	margin-left: 2px;
	line-height: 24px;
	border: 1px solid #B8C3C9;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 6px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0 0 5px 0
	rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	color: #4B5C66;
	font-size: 12px;
	line-height: 24px;
}
.enhancer_menu li {
	list-style-type: none;
	padding: 0 36px 0 24px;
	position: relative;
	white-space: nowrap;
}
.enhancer_menu li.option:hover {
	cursor: pointer;
	background-color: #008FD5;
	color: white;
}
.enhancer_menu li.divider {
	margin: 6px 0;
	border-bottom: 1px solid #E1E6E9;
	font-size: 0;
	line-height: 0;
	width: auto;
	float: none;
}

.enhancer_menu_click_shield {
	position: fixed;
	display: none;
	z-index: 110;
	background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.enhancer_messages {
	position: fixed;
	z-index: 125;
	bottom: 0;
	right: 0;
	width: 300px;
}
.enhancer_message_box {
	display: none;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGCYCQAAngCaYaR2fwAAAABJRU5ErkJggg==);
	padding:20px;
	border-radius:20px;
	margin:10px;
	color:#FFF;
	font-weight:bold;
}
.App_Header .user_nav .enhancer_master_menu {
	margin-left: 8px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAABGdBTUEAALGPC/xhBQAAAC1QTFRFNj5DNj5DNj5DNj5DNj5DNj5DNj5DNj5DNj5DNj5DNj5DNj5DNj5DAAAANj5DkaUt7QAAAA50Uk5TcJ8ggGDP70CvMN+PEAAj3xNOAAAAQUlEQVQI12O4CwS7GYDEhVcgUu05w527d+P2MrTNvfzqLINczLzndxmOvVi39y7D9Xevzt5luLvv5V0gecP37l0AicYmqHVWwUEAAAAASUVORK5CYII=);
	opacity:0.7;
}
.App_Header .user_nav .enhancer_master_menu:hover {
	opacity:1.0;
}
#enhancer_html {
	display:none;
}

#enhancer_settings_form .label {
	width: 110px;
	float: left;
	margin-right: 20px;
	color: #4b5c66;
}
#enhancer_settings_form .field {
	margin-left: 130px;
	position: relative;
}
#enhancer_settings_form .form_row {
	clear: both;
	line-height: 30px;
	padding: 0 0 15px 0;
}
#enhancer_settings_form .form_row.no_line:first-child {
	padding: 15px 0;
}

#enhancer_settings_form .radio_list {
	line-height: normal;
}
#enhancer_settings_form .radio_list label {
	color: #4b5c66;
}
#enhancer_settings_form .radio_list p {
	margin: 0;
}
#enhancer_settings_form .radio_list .description {
	margin-top: 6px;
	margin-left: 22px;
}
#enhancer_settings_form .radio_list .radio {
	float: left;
	margin: 2px 10px 0 0;
}

.section_header .export_to_csv_box {
	padding: 0 12px;
	font-size: 12px;
	float:right;
	margin-right:5px;
}
.section_header .export_start {
	width: 50px;
	margin: 0;
}
.section_header .exportToCSV {
	font-size: 12px;
	color: #008fd5;
}

.Dialog.unavailable_dialog .album {
	margin: 0;
	padding: 10px 0;
    line-height: 18px;
	border-bottom: 1px solid #e1e4e6;
	position: relative;
}
.Dialog.unavailable_dialog .album:last-child {
	border: 0;
}
.Dialog.unavailable_dialog .album_name,
.Dialog.unavailable_dialog .album_artist {
	max-width: 400px;
}
.Dialog.unavailable_dialog .album_artist a {
	color: #94999c;
}
.Dialog.unavailable_dialog .badge {
	position: absolute;
	right: 0;
	top: 50%;
	margin: 0;
	color: #fff;
	cursor: default;
	background: rgba(55, 70, 79, 0.6);
	border-radius: 3px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.Menu li.submenu.share, .Menu a.submenu.share {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAYCAMAAADNlS1EAAAABGdBTUEAALGPC/xhBQAAADNQTFRFlJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmcAAAAlJmcZX5KJwAAABB0Uk5T/PD7lbzb2u+9lmkkD0IDAHcKqEAAAABUSURBVBjTY+CHAS4uOJMBxuBlYuBFF+RmFxBg5EYV5GETAAJWHmRBPhYBMODgQxJkFoACTlSL+AUEMG0nLAgxCyYI4eESRNc+IIJIvqCRICbAKggAOs4cMBW2yYIAAAAASUVORK5CYII=), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAMAAABVab95AAAABGdBTUEAALGPC/xhBQAAAKJQTFRFlJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmclJmcAAAAlJmcJAbzjwAAADV0Uk5T5b4VzCwPtxDILg3FMr/vNwe8OvC28UOyQKz3qE2dklJdV0mi/n+Ml4UnxCTqCgb1A/n8AQDX6HpKAAAAd0lEQVQI1zXO1xaCQAwE0EVR7CDYG9go0iHz/7/mOTtLnu5DkhmVTx3hqB9mC8OswLokZb7BriLF3ePckHKq8e5JebVIelLCDrGhRB98DZ8dUvLW4sGFwwV3nvk1ro1+tgpwrHSEXWDr6eBcYVkOJceToaQ1MtX/FNUe/OrO8RQAAAAASUVORK5CYII=);
  background-size: 11px 10px, 5px 9px;
  background-position: 12px center, 93% center;
  background-repeat: no-repeat;
}
.Menu li.share.copy_link {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAABGdBTUEAALGPC/xhBQAAAIpQTFRFuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJuMPJAAAAuMPJkvC3mwAAAC10Uk5T9mM8pbFOrqKZZsMVVPAzVznb4QN7YPPG3kKE+fzn5Ku0Gx4MvVF4JAYJdY0A/S76QAAAAHtJREFUCNctzFcWwjAMRFHRO6Gmh1Q7sa3Z//YQEfq7R+cNsV4Xdn5iUmQxgONTdYqx2qQ4qNw6Z15gP8tsE+tcAv+TlYaWA9Je9ELhvRnwGWXToohq+QqY2rI8u3BB3UlDBg3zGNp5m26orlmFt4oHadBMf/Xhcc8V/AVvFxghUQadAAAAAABJRU5ErkJggg==);
}

.artist_tracks_to_playlist {
	float: right;
	margin-right: 10px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAMAAAC+oj0CAAAABGdBTUEAALGPC/xhBQAAAD9QTFRFlJmclJiclJmclJmclJmdlJmclJiclJmclJmclJmclJiclJmclJmclJmclJmclJmcAAAAlJmdlZmdlJiclJmcCxAmtwAAABF0Uk5TmhBwEJkP9O7075n1ynEGywDZOPyuAAAAd0lEQVQY05WO4RKDIAyDcc6pQy2SvP+zruDJUXV3ml/la0jjQhYZKoFuH2rMHTNe4z9uXOJDNhzBlUXFjfTKC51w8+SjgrDuaN3LPH2G6XUI6UQLxVTJ1Z+/pb/BPUCc8ZiR7laD3xtWanArW7I0BmtB8V7mJfwAFT8ct1xKBKUAAAAASUVORK5CYII=);
	height: 28px;
	width: 28px;
	border-radius: 50%;
	border: 1px solid #c9cccd;
	background-size: auto 10px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.artist_tracks_to_playlist:hover {
	border-color: #94999c;
}
